#root {
  max-width: auto;
  margin: 0 ;
 
}

:root {
  --blanco: #fff;
  --negro: #000;
  --fuenteprincipal: #6EC1E4;
  --secundariaazul: #2e659e;
  --terciariomorado: #9763a5;
  --cuartaroja: #e52122;
  --quintarosa: #f4b1c6;
  --sextaverde: #42a73e;
  --septimanaranja: #ee722d;
  --octavaamarilla: #f9b91b;
  --novenagris: #a8a8a8;
}

.icon-purple { color: #9763a5; }
.icon-red { color: #e52122; }
.icon-pink { color: #f4b1c6; }
.icon-green { color: #42a73e; }
.icon-orange { color: #ee722d; }
.icon-yellow { color: #f9b91b; }
body {
  background-color: #f8f9fa;
}


/*Panel de Control*/

.card {
  transition: box-shadow 0.3s ease;
}

.card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.card-hover:hover {
  transform: scale(1.03);
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1);
}



/**/

/* Navbar Sidebar normal */

/* Paleta de colores */
.text-blue {
  color: #6EC1E4;
}

.text-dark-blue {
  color: var(--secundariaazul);
}


.sidebar {
  width: 250px;
  background-color: #fff;
  transition: width 0.3s;
  min-height: 100vh;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .nav-link span,
.sidebar.collapsed h5,
.sidebar.collapsed .ms-2 {
  display: none;
}

.sidebar .nav-link {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar .nav-link:hover {
  background-color: var(--octavaamarilla);
  color: var(--blanco);
}

.custom-border {
  border-color: #a8a8a8 !important;
}

